<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <strong>BRUCEJAMES</strong>
      </a>
  
      <!-- <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        (click)="toggleNavbar()"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasic" class="navbar-menu" [ngClass]="{ 'is-active': navbarOpen }">
      <div class="navbar-end">
        <a class="navbar-item" href="#products">Products</a>
        <a class="navbar-item" href="#about">About</a>
        <a class="navbar-item" href="#contact">Contact</a>
      </div>
     -->
    </div>
     <div class="navbar-menu">
      <div class="navbar-end">
          <div class="social-icons">
            <a class="button is-social is-instagram" href="https://www.instagram.com/brucejames_studio" target="_blank" rel="noopener noreferrer">
              <span class="icon">
                <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
              </span>
            </a>
          </div>
      
      </div>


     </div>
  </nav>
  